*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonts {
    font-family: 'Koulen', cursive;
}

body {
    background: url("aaa.jpg") no-repeat center center;
    opacity: .9;
    backdrop-filter: blur(1px);
    background-size: cover;
    background-position: left top;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    
  }

  .size {
    font-size: 90px;

  }

  .size_2 {
    font-size: 70px;
  }

  .size_3 {
    font-size: 70px;
  }

  .size_4 {
    font-size: 70px;
  }

  